<div style="margin: 10px 10px 10px 10px;">

    <form [formGroup]="userSearchForm" (submit)="getId()">
        <mat-form-field appearance="outline">
            <mat-label>User URL</mat-label>
            <input matInput formControlName="userUrl">
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" >Get ID</button>
    </form>
    <form [formGroup]="userActionForm">
        <mat-form-field appearance="outline">
            <input matInput [disabled]="true" formControlName="userDID">
        </mat-form-field>
        <button type="button" mat-raised-button color="primary" (click)="viewPage()">View Page</button>
        <button type="button" mat-raised-button color="primary" (click)="getFollowers()">Followers</button>
        <button type="button" mat-raised-button color="primary">Mark Reviewed</button>
        <button type="button" mat-raised-button color="primary">Add to List</button>
    </form>
    
    @if (followers.length) {
        <p>
            Followers: {{ followers.length }}
        </p>

        <table mat-table [dataSource]="followers">
            <ng-container matColumnDef="did">
                <th mat-header-cell *matHeaderCellDef>DID</th>
                <td mat-cell *matCellDef="let element"> {{element.did}} </td>
            </ng-container>
            <ng-container matColumnDef="handle">
                <th mat-header-cell *matHeaderCellDef>Handle</th>
                <td mat-cell *matCellDef="let element"> {{element.handle}} </td>
            </ng-container>
            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef>Display Name</th>
                <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    }

</div>
